/* TSOS.css */

body {
  background-color: #111111; /* From https://clrs.cc */
  color: #2ECC40; /* From https://clrs.cc */
  font-family: 'Courier New', Courier, monospace;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid #2ECC40;
}

h2 {
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color: #111111;
  border: 1px solid #FF4136; /* From https://clrs.cc */
  cursor: default;
}

#display:focus {
  border: 1px solid #0074D9;
  outline: 0;
}

.normal_button {
  width: 100px;
  font-size: 10pt;

  font-family: 'Courier New', Courier, monospace;
  color: #2ECC40;
  background-color: #111111;
  padding: 2px;
  border: 1px solid #2ECC40;
}

.normal_button:hover {
  cursor: pointer;
  border: 1px solid #FF4136;
}

.normal_button:disabled {
  background-color: #555555; /* From https://clrs.cc */
}

.normal_button:disabled:hover {
  border: 1px solid #2ECC40;
  cursor: auto;
}

.normal_button:focus {
  outline: none;
}

.footerText {
  color: #2ECC40;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

#seeYaArea {
  /* Div overlap from https://stackoverflow.com/questions/270493/how-would-you-make-two-divs-overlap */
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.75);

  display: none;
  align-items: center;
  justify-content: space-evenly;
}

#centerArea {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#cpuStatus {
  font-weight: normal;
}

#cpuPcbMemDiv {
  text-align: center;
  width: 550px;
}

#cpuPcbMemDiv table {
  width: 100%;
  font-size: 10pt;
}

#pcbDiv {
  max-height: 100px;
  overflow-y: auto;
}

#memDiv {
  max-height: 200px;
  overflow-y: auto;
}

.singleStepBtn {
  width: 40%;
}

.opcode {
  color: #FF4136;
  text-emphasis: bold;
}

.operand {
  color: #0074D9; /* From https://clrs.cc */
}

textarea {
  background-color: #111111;
  color: #2ECC40;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10pt;
  border: 1px solid #FF4136;
  resize: none;
}

textarea:focus {
  outline: none;
}

#taProgramInput:focus {
  border: 1px solid #0074D9;
}

hr {
  border-color: #2ECC40;
}

#diskDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

#diskTableDiv {
  width: 80%;
  max-height: 200px;
  overflow: auto;
}

#diskTable {
  text-align: center;
  font-size: 10pt;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

#testOptions {
  width: 300px;
  font-size: 10pt;

  font-family: 'Courier New', Courier, monospace;
  color: #2ECC40;
  background-color: #111111;
  padding: 2px;
  border: 1px solid #2ECC40;
  text-align-last: center;
}

#testOptions:focus {
  outline: none;
}

#cpuPipelineState {
  width: 25%;
}